<nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
  <a href="index.html" class="navbar-brand p-0">
      <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>Startup</h1>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
          <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
          <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
          <a href="{% url "service" %}" class="nav-item nav-link">Services</a>
          <a href="{% url "blog" %}" class="nav-item nav-link">Blogs</a>
          <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
              <div class="dropdown-menu m-0">
                  <a href="{% url 'price' %}" class="dropdown-item">Pricing Plan</a>
                  <a href="{% url 'feature' %}" class="dropdown-item">Our features</a>
                  <a href="{% url 'team' %}" class="dropdown-item">Team Members</a>
                  <a href="{% url 'testimonial' %}" class="dropdown-item">Testimonial</a>
                  <a href="{% url 'quote' %}" class="dropdown-item">Free Quote</a>
              </div>
          </div>
          <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
      </div>
      <butaton type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
  </div>
</nav>