{% extends "base.html" %}
{% load static %}
{% block title %}Quote | Startup Website{% endblock %}
{% block content %}


<!-- Navbar Start -->
<div class="container-fluid position-relative p-0">
    {% include "nav.html" %}

    <div class="container-fluid bg-primary py-5 bg-header" style="margin-bottom: 90px;">
        <div class="row py-5">
            <div class="col-12 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-4 text-white animated zoomIn">Free Quote</h1>
                <a href="{% url 'home' %}" class="h5 text-white">Home</a>
                <i class="far fa-circle text-white px-2"></i>
                <a href="{% url 'quote' %}" class="h5 text-white">Free Quote</a>
            </div>
        </div>
    </div>
</div>
<!-- Navbar End -->


<!-- Full Screen Search Start -->
{% include "search.html" %}
<!-- Full Screen Search End -->


<!-- Quote Start -->
{% include "quote_form.html" %}
<!-- Quote End -->

{% endblock %}